USE [vgroup-onedata-preview]
GO
/****** Object:  StoredProcedure [ShipMgmt_Crewing].[CrewPositionsOnBoardListPerDay_Insert]    Script Date: 13/01/2025 23:48:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [ShipMgmt_Crewing].[CrewPositionsOnBoardListPerDay_Insert] 
(
@DateGiven DATETIME

)

AS 

DECLARE @Date DATE = CAST(@DateGiven AS DATE)

BEGIN

 ;WITH rankstarts AS (
	SELECT sr.[Crew ID],
		sr.[Rank],
		MIN(sr.[Start Date]) AS [Rank Start]
	FROM [ShipMgmt_Crewing].[tCrewServiceRecords] sr
	WHERE sr.[Status ID] = 'OB' 
		AND sr.[Service Cancelled] = 0 
	GROUP BY sr.[Crew ID],
		sr.[Rank]

), onboardondate AS (
	SELECT *
	FROM (
	SELECT sr_inner.[Crew ID]
		,ROW_NUMBER() OVER(PARTITION BY sr_inner.[Crew ID] ORDER BY sr_inner.[Start Date] DESC) AS [Service Order]
		,sr_inner.[Service Record ID] -- new
		,sr_inner.[Rank ID] -- new
		,sr_inner.[Rank]
		,PD.[Mobilisation Cell ID] -- new
		,PD.[Crew Contract Type] -- new
		,PD.[Third Party Agent ID] -- new
		,sr_inner.[Vessel ID]
		,sr_inner.[Vessel Mgmt ID] --- new
		,SVL.[Berth Type] -- new
	FROM [ShipMgmt_Crewing].[tCrewServiceRecords] sr_inner
	LEFT JOIN [ShipMgmt_Crewing].[tCrew] PD ON PD.[Crew ID] = sr_inner.[Crew ID]
	LEFT JOIN [ShipMgmt_Crewing].[tCrewBerths] SVL ON SVL.[Berth ID] = sr_inner.[Berth ID]
	WHERE sr_inner.[Status ID] = 'OB'
		AND sr_inner.[Service Cancelled] = 0
		AND sr_inner.[Previous Experience] = 0 -- new, service shouldn't be outside of V
		AND (sr_inner.[Service Active Status ID] is null OR sr_inner.[Service Active Status ID] <> 3) -- only historical services
		AND sr_inner.[Active Status] = 1 -- only currently onboard
	) A
	WHERE A.[Service Order] = 1
)


SELECT 
	@Date AS [Date]
	,sr.[Vessel ID]
	,sr.[Vessel Mgmt ID]
	,ISNULL(v.[Client ID], 'Unmapped') AS [Client ID]
	,ISNULL(TechOff.[Office Record ID], 'Unmapped') AS [Tech Mgmt Office ID]
	,ISNULL(ReportOff.[Office Record ID], 'Unmapped') AS [Reporting Office ID]
	,ISNULL(COALESCE(TechOff.[Office Record ID],ReportOff.[Office Record ID]), 'Unmapped') AS [ShipSure Mapping Office ID] -- either reporting office or technical office
	,sr.[Crew ID]
	,DATEDIFF(Day, r.[Rank Start], @Date) AS [Time In Rank (Days)]
	,CONVERT(decimal(18,2),DATEDIFF(Day, r.[Rank Start], @Date))/365 AS [Time In Rank (Years)]
	,sr.[Service Record ID]
	,sr.[Rank ID]
	,sr.[Mobilisation Cell ID]
	,sr.[Crew Contract Type]
	,sr.[Third Party Agent ID]
	,sr.[Berth Type]
INTO #kpis
FROM  onboardondate sr
	INNER JOIN rankstarts r ON r.[Crew ID] = sr.[Crew ID] AND sr.[Rank] = r.[Rank]
	LEFT JOIN [ShipMgmt_VesselMgmt].[tShipMgmtRecords] v ON v.[Vessel Mgmt ID] = sr.[Vessel Mgmt ID]
	OUTER APPLY(SELECT Top 1 *
				FROM [ShipMgmt_VesselMgmt].[tShipMgmtRecordsOffices] Tech 
				WHERE Tech.[Vessel Mgmt ID] = sr.[Vessel Mgmt ID] 
				AND Tech.[Office Type] = 'Technical Office' 
				AND (Tech.[Valid To] IS NULL OR Tech.[Valid To] >= @Date)
				ORDER BY Tech.[Valid From] DESC) TechOff
	OUTER APPLY (SELECT Top 1 *
				 FROM [ShipMgmt_VesselMgmt].[tShipMgmtRecordsOffices] Repo
				 WHERE Repo.[Vessel Mgmt ID] = sr.[Vessel Mgmt ID] 
				 AND Repo.[Office Type] = 'Reporting Office' 
				 AND (Repo.[Valid To] IS NULL OR Repo.[Valid To] >= @Date)
				 ORDER BY Repo.[Valid From] DESC) ReportOff
	

DECLARE @kpicount INT = (SELECT COUNT(*) FROM #kpis)

IF @kpicount > 0

BEGIN

BEGIN TRAN
DELETE FROM [ShipMgmt_Crewing].[tCrewPositionsOnBoardListPerDay]
WHERE [Date] = @Date
COMMIT


BEGIN TRAN
INSERT INTO [ShipMgmt_Crewing].[tCrewPositionsOnBoardListPerDay]
           ([Date]
      ,[Vessel ID]
      ,[Vessel Mgmt ID]
	  ,[Client ID]
      ,[Tech Mgmt Office ID]
      ,[Reporting Office ID]
	  ,[ShipSure Mapping Office ID]
      ,[Crew ID]
	  ,[Time In Rank (Days)]
	  ,[Time In Rank (Years)]
	  ,[Service Record ID]
	  ,[Rank ID]
	  ,[Mobilisation Cell ID]
	  ,[Crew Contract Type]
	  ,[Third Party Agent ID]
	  ,[Berth Type])


SELECT DISTINCT [Date]
		,[Vessel ID]
        ,[Vessel Mgmt ID]
		,[Client ID]
		,[Tech Mgmt Office ID]
		,[Reporting Office ID]
		,[ShipSure Mapping Office ID] AS [ShipSure Mapping Office ID]
		,[Crew ID]	
		,[Time In Rank (Days)]
		,[Time In Rank (Years)]
		,[Service Record ID]
	    ,[Rank ID]
	    ,[Mobilisation Cell ID]
	    ,[Crew Contract Type]
	    ,[Third Party Agent ID]
	    ,[Berth Type]
	FROM #kpis k
	ORDER BY [Date]   
		,[Vessel ID]
        ,[Vessel Mgmt ID]
		,[Client ID]
		,[Tech Mgmt Office ID]
		,[Reporting Office ID]
		,[ShipSure Mapping Office ID]

COMMIT

DROP TABLE #kpis

END

ELSE BEGIN 
DROP TABLE #kpis 
END


END